# Eat Safe, Love

## Notebook Set Up

In [1]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [35]:
# Find the establishments with a hygiene score of 20
# Use count_documents to display the number of documents in the result
# Display the first document in the results using pprint

query = {'scores.Hygiene': 20}
print("Number of documents in result: ", establishments.count_documents(query))
print("First result:")
results = establishments.find(query)

result_list = list(results)
pprint(result_list[0])

Number of documents in result:  41
First result:
{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('667b784405d42b2e77e13e8a'),
 'geocode': {'latitude': 50.769705, 'longitude': 0.27694},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [36]:
# Convert the result to a Pandas DataFrame
results_df = pd.DataFrame(result_list)

# Display the number of rows in the DataFrame
print("Rows in DataFrame: ", len(results_df))

# Display the first 10 rows of the DataFrame
results_df = results_df[['BusinessName', 'FHRSID', 'BusinessType', 'AddressLine1', 'AddressLine2', 'AddressLine3', 'scores', '_id']]
results_df.head(10)

Rows in DataFrame:  41

,BusinessName,FHRSID,BusinessType,AddressLine1,AddressLine2,AddressLine3,scores,_id
0,The Chase Rest Home,110681,Caring Premises,5-6 Southfields Road,Eastbourne,East Sussex,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",667b784405d42b2e77e13e8a
1,Brenalwood,612039,Caring Premises,Hall Lane,Walton-on-the-Naze,Essex,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI...",667b784405d42b2e77e14207
2,Melrose Hotel,730933,Hotel/bed & breakfast/guest house,53 Marine Parade East,Clacton On Sea,Essex,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",667b784405d42b2e77e14513
3,Seaford Pizza,172735,Takeaway/sandwich shop,4 High Street,Seaford,East Sussex,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...",667b784405d42b2e77e14705
4,Golden Palace,172953,Restaurant/Cafe/Canteen,5 South Street,Seaford,East Sussex,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...",667b784405d42b2e77e1470a
5,Ashby's Butchers,512854,Retailers - other,777 Southchurch Road,Southend-On-Sea,Essex,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",667b784405d42b2e77e150b1
6,South Sea Express Cuisine,1537089,Restaurant/Cafe/Canteen,33 Alexandra Street,Southend-on-sea,Essex,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",667b784405d42b2e77e152d5
7,Golden Palace,155648,Takeaway/sandwich shop,7 London Road,Rayleigh,Essex,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI...",667b784405d42b2e77e167fe
8,The Tulip Tree,1012883,Restaurant/Cafe/Canteen,3 The Village,Chiddingstone,KENT,"{'Hygiene': 20, 'Structural': 5, 'ConfidenceIn...",667b784405d42b2e77e16c41
9,F & S,644109,Retailers - other,,81 Southernhay,Basildon,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",667b784505d42b2e77e17453

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [45]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {'LocalAuthorityName': {'$regex': 'London'}, 'RatingValue': {'$gte': 4}}

# Use count_documents to display the number of documents in the result
print("Number of documents in result: ", establishments.count_documents(query))

# Display the first document in the results using pprint
print("First result:")
results = establishments.find(query)

result_list = list(results)
pprint(result_list[0])

Number of documents in result:  33
First result:
{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
 'AddressLine2': 'Sheppy Kent',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': "Charlie's",
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'ChangesByServerID': 0,
 'Distance': 4627.439467780196,
 'FHRSID': 621707,
 'LocalAuthorityBusinessID': 'PI/000025307',
 'LocalAuthorityCode': '508',
 'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
 'LocalAuthorityName': 'City of London Corporation',
 'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'ME12',
 'RatingDate': '2021-10-18T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('667b784405d42b2e77e158a4'),
 'geocode': {'latitude': 51.369321, 'longitude': 0.508551},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/621707',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}

In [58]:
# Convert the result to a Pandas DataFrame
rating_df = pd.DataFrame(result_list)

# Display the number of rows in the DataFrame
print("Rows in DataFrame: ", len(rating_df))

# Display the first 10 rows of the DataFrame
rating_df = rating_df[['BusinessName', 'FHRSID', 'BusinessType', 'AddressLine1', 'AddressLine2', 'AddressLine3', 'scores', '_id']]
rating_df.head(10)

Rows in DataFrame:  25816

,BusinessName,FHRSID,BusinessType,AddressLine1,AddressLine2,AddressLine3,scores,_id
0,The Pavilion,1043695,Restaurant/Cafe/Canteen,East Cliff Pavilion,Wear Bay Road,Folkestone,"{'Hygiene': 5, 'Structural': 5, 'ConfidenceInM...",667b784405d42b2e77e12358
1,St Marys COE (aided) Primary School,289353,School/college/university,St Marys Church Of England Primary School,Warren Road,Folkestone,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",667b784405d42b2e77e1235a
2,The Ship,289352,Pub/bar/nightclub,23 The Stade,Folkestone,Kent,"{'Hygiene': 5, 'Structural': 5, 'ConfidenceInM...",667b784405d42b2e77e1235c
3,Mariner,289560,Pub/bar/nightclub,16 The Stade,Folkestone,Kent,"{'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...",667b784405d42b2e77e1235e
4,Docker,894592,Retailers - other,Folkestone Harbour,Harbour Approach Road,Folkestone,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",667b784405d42b2e77e12360
5,Folkestone Trawlers Shop,344689,Retailers - other,1 The Stade,Folkestone,Kent,"{'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...",667b784405d42b2e77e12361
6,Pick Up Pintxos,1043701,Takeaway/sandwich shop,Folkestone Harbour,Harbour Approach Road,Folkestone,"{'Hygiene': 5, 'Structural': 5, 'ConfidenceInM...",667b784405d42b2e77e12362
7,That Burger - Harbour Arm,805703,Takeaway/sandwich shop,Folkestone Harbour,Harbour Approach Road,Folkestone,"{'Hygiene': 5, 'Structural': 5, 'ConfidenceInM...",667b784405d42b2e77e12363
8,Custom Folkestone,1046418,Restaurant/Cafe/Canteen,Folkestone Harbour,Harbour Approach Road,Folkestone,"{'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...",667b784405d42b2e77e12365
9,The Tea Caddy,1068284,Mobile caterer,Folkestone Harbour,Harbour Approach Road,Folkestone,"{'Hygiene': 5, 'Structural': 5, 'ConfidenceInM...",667b784405d42b2e77e12366

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [55]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
longitude = "0.08384000"
latitude = "51.49014200"

query = {'RatingValue': 5}
sort = [('scores.Hygiene', -1)]
limit = 5

# Print the results
print("Number of documents in result: ", establishments.count_documents(query))
results = establishments.find(query)

result_list = list(results)
pprint(result_list[5])

Number of documents in result:  25816
{'AddressLine1': '1 The Stade',
 'AddressLine2': 'Folkestone',
 'AddressLine3': 'Kent',
 'AddressLine4': '',
 'BusinessName': 'Folkestone Trawlers Shop',
 'BusinessType': 'Retailers - other',
 'BusinessTypeID': 4613,
 'ChangesByServerID': 0,
 'Distance': 4591.912144538092,
 'FHRSID': 344689,
 'LocalAuthorityBusinessID': 'PI/000002095',
 'LocalAuthorityCode': '188',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'CT19 6AB',
 'RatingDate': '2020-02-14T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': 5,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('667b784405d42b2e77e12361'),
 'geocode': {'latitude': 51.08084, 'longitude': 1.188537},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/344689',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 5}}

In [57]:
# Convert result to Pandas DataFrame
top5_df = pd.DataFrame(result_list)

# Display the number of rows in the DataFrame
print("Rows in DataFrame: ", len(top5_df))

# Display the first 10 rows of the DataFrame
top5_df = top5_df[['BusinessName', 'FHRSID', 'BusinessType', 'AddressLine1', 'AddressLine2', 'AddressLine3', 'scores', '_id']]
top5_df.head(10)

Rows in DataFrame:  25816

,BusinessName,FHRSID,BusinessType,AddressLine1,AddressLine2,AddressLine3,scores,_id
0,The Pavilion,1043695,Restaurant/Cafe/Canteen,East Cliff Pavilion,Wear Bay Road,Folkestone,"{'Hygiene': 5, 'Structural': 5, 'ConfidenceInM...",667b784405d42b2e77e12358
1,St Marys COE (aided) Primary School,289353,School/college/university,St Marys Church Of England Primary School,Warren Road,Folkestone,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",667b784405d42b2e77e1235a
2,The Ship,289352,Pub/bar/nightclub,23 The Stade,Folkestone,Kent,"{'Hygiene': 5, 'Structural': 5, 'ConfidenceInM...",667b784405d42b2e77e1235c
3,Mariner,289560,Pub/bar/nightclub,16 The Stade,Folkestone,Kent,"{'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...",667b784405d42b2e77e1235e
4,Docker,894592,Retailers - other,Folkestone Harbour,Harbour Approach Road,Folkestone,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",667b784405d42b2e77e12360
5,Folkestone Trawlers Shop,344689,Retailers - other,1 The Stade,Folkestone,Kent,"{'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...",667b784405d42b2e77e12361
6,Pick Up Pintxos,1043701,Takeaway/sandwich shop,Folkestone Harbour,Harbour Approach Road,Folkestone,"{'Hygiene': 5, 'Structural': 5, 'ConfidenceInM...",667b784405d42b2e77e12362
7,That Burger - Harbour Arm,805703,Takeaway/sandwich shop,Folkestone Harbour,Harbour Approach Road,Folkestone,"{'Hygiene': 5, 'Structural': 5, 'ConfidenceInM...",667b784405d42b2e77e12363
8,Custom Folkestone,1046418,Restaurant/Cafe/Canteen,Folkestone Harbour,Harbour Approach Road,Folkestone,"{'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...",667b784405d42b2e77e12365
9,The Tea Caddy,1068284,Mobile caterer,Folkestone Harbour,Harbour Approach Road,Folkestone,"{'Hygiene': 5, 'Structural': 5, 'ConfidenceInM...",667b784405d42b2e77e12366

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [67]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
match_query = {'$match': {'scores.Hygiene': {'$eq': 0}}}

# 2. Groups the matches by Local Authority
group_query = {'$group': {'_id': "$LocalAuthorityName", 'count': { '$sum': 1}}}

# 3. Sorts the matches from highest to lowest
sort_values = {'$sort': {'count': 1}}

# Print the number of documents in the result
pipeline = [match_query, group_query, sort_values]
results = list(establishments.aggregate(pipeline))
print("Number of establishments in result: ", len(results))

# Print the first 10 results
pprint(results[0:10])

Number of establishments in result:  55
[{'_id': 'North Norfolk', 'count': 1},
 {'_id': 'Dorset', 'count': 1},
 {'_id': 'Sunderland', 'count': 1},
 {'_id': 'Reading', 'count': 1},
 {'_id': 'Broxbourne', 'count': 1},
 {'_id': 'Kensington and Chelsea', 'count': 1},
 {'_id': 'Mid Sussex', 'count': 5},
 {'_id': 'North Hertfordshire', 'count': 6},
 {'_id': 'Tower Hamlets', 'count': 9},
 {'_id': 'Ipswich', 'count': 21}]

In [69]:
# Convert result to Pandas DataFrame
establishments_df = pd.DataFrame(results)

# Display the number of rows in the DataFrame
print("Rows in DataFrame: ", len(establishments_df))

# Display the first 10 rows of the DataFrame
establishments_df.head(10)

Rows in DataFrame:  55

                      _id  count
0           North Norfolk      1
1                  Dorset      1
2              Sunderland      1
3                 Reading      1
4              Broxbourne      1
5  Kensington and Chelsea      1
6              Mid Sussex      5
7     North Hertfordshire      6
8           Tower Hamlets      9
9                 Ipswich     21